$primary-color: #331B3B;
$secondary-color: rgba(51, 27, 59, 0.66);
$white: #fff;
$light-blue: #ECF7FF;
$black: #000;
$blue: #51A0DC;
$dark-gray: #414141;
$error: #f00;

  .font-light {
    font-family: "Hind Vadodara", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .font-regular {
    font-family: "Hind Vadodara", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .font-medium {
    font-family: "Hind Vadodara", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .font-semibold {
    font-family: "Hind Vadodara", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .font-bold {
    font-family: "Hind Vadodara", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: $blue;
}

h1 {
    font-size: 87px;
    line-height: 1.1;
    letter-spacing: -0.01em;
    margin-bottom: 27px;
}

h2 {
    font-size: 48px;
    letter-spacing: -0.01em;
}

body {
    @extend .font-regular;
    letter-spacing: 0.02em;
    color: $primary-color;
}

.bold {
    @extend .font-bold;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    max-width: 1500px;
    margin: 0 auto;
}

.logo {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 0.01em;
    color: $primary-color;
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header {
    position: fixed;
    width: 100%;
    z-index: 20;
    transition: 0.4s;
    &.background {
        background-color: $white;
        box-shadow: 0 0 5px $dark-gray;
    }
    
    .container {             
        justify-content: space-between;
        align-items: center;
    }

    .nav {
        display: flex;
        flex-grow: 1;
    
        li {
            list-style: none;
        }
    
        a {
            position: relative;
            font-size: 16px;
            letter-spacing: 0.01em;
            color: $primary-color;
            margin-right: 40px;
            color: #331B3B;
            
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: $primary-color;
                width: 0;
                transition: 0.25s;
                bottom: -4px;
                left: 0;
            }

            &:hover{
                &::after {
                    width: 100%;
                }
            }
        }
        .active {
            @extend .font-bold;
            pointer-events: none;
            
        }
    }

    .logo {
        flex-grow: 1;
    }

    .links-social {
        position: relative;
        display: flex;
        flex-grow: 1;
        justify-content: end;
        z-index: 10;
    }

    .icon-social {
        display: block;
        box-sizing: border-box;
        width: 44px;
        height: 47px;
        border: 2px solid $secondary-color;
        border-radius: 28px 20px;
        background-repeat: no-repeat;
        background-position: center; 
        margin-left: 16px;
        transition: transform 0.2s;
        
        &:hover {
            transform: scale(1.1);           
        }  
    }
    
    .icon-fb {
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='21' viewBox='0 0 11 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_31)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.62817 20.8071V11.8071H10.3606L10.8069 7.80713H7.62817V5.85889C7.62817 4.82889 7.65449 3.80713 9.09378 3.80713H10.5516V0.947266C10.5516 0.904266 9.29937 0.807129 8.03256 0.807129C5.38688 0.807129 3.73029 2.46432 3.73029 5.50732V7.80713H0.806885V11.8071H3.73029V20.8071H7.62817Z' fill='%23331B3B'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_31'%3E%3Crect width='10' height='20' fill='white' transform='translate(0.806885 0.807129)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
    
    .icon-linkedin {
        background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_36)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.2566 18.8071H14.5582V12.5079C14.5582 10.7808 13.9019 9.81562 12.5349 9.81562C11.0478 9.81562 10.2709 10.82 10.2709 12.5079V18.8071H6.70659V6.80713H10.2709V8.42353C10.2709 8.42353 11.3425 6.44051 13.889 6.44051C16.4343 6.44051 18.2566 7.99483 18.2566 11.2095V18.8071ZM2.45444 5.23582C1.24038 5.23582 0.256592 4.24432 0.256592 3.02148C0.256592 1.79864 1.24038 0.807129 2.45444 0.807129C3.6685 0.807129 4.6517 1.79864 4.6517 3.02148C4.6517 4.24432 3.6685 5.23582 2.45444 5.23582ZM0.614017 18.8071H4.33062V6.80713H0.614017V18.8071Z' fill='%23331B3B'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_36'%3E%3Crect width='18' height='18' fill='white' transform='translate(0.256592 0.807129)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
    
    .icon-instagram {
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_40)'%3E%3Cpath d='M12.7066 3.12739C15.8612 3.12739 16.2316 3.14146 17.4784 3.19771C18.6316 3.24927 19.255 3.44146 19.6722 3.60552C20.2253 3.82114 20.6191 4.07427 21.0316 4.48677C21.4441 4.89927 21.7019 5.29302 21.9128 5.84614C22.0722 6.26333 22.2691 6.88677 22.3206 8.03989C22.3769 9.28677 22.3909 9.65708 22.3909 12.8118C22.3909 15.9665 22.3769 16.3368 22.3206 17.5836C22.2691 18.7368 22.0769 19.3602 21.9128 19.7774C21.6972 20.3305 21.4441 20.7243 21.0316 21.1368C20.6191 21.5493 20.2253 21.8071 19.6722 22.018C19.255 22.1774 18.6316 22.3743 17.4784 22.4258C16.2316 22.4821 15.8612 22.4961 12.7066 22.4961C9.55187 22.4961 9.18155 22.4821 7.93468 22.4258C6.78155 22.3743 6.15812 22.1821 5.74093 22.018C5.18781 21.8024 4.79406 21.5493 4.38156 21.1368C3.96906 20.7243 3.71124 20.3305 3.50031 19.7774C3.34093 19.3602 3.14406 18.7368 3.09249 17.5836C3.03624 16.3368 3.02218 15.9665 3.02218 12.8118C3.02218 9.65708 3.03624 9.28677 3.09249 8.03989C3.14406 6.88677 3.33624 6.26333 3.50031 5.84614C3.71593 5.29302 3.96906 4.89927 4.38156 4.48677C4.79406 4.07427 5.18781 3.81646 5.74093 3.60552C6.15812 3.44614 6.78155 3.24927 7.93468 3.19771C9.18155 3.13677 9.55187 3.12739 12.7066 3.12739ZM12.7066 0.999268C9.50031 0.999268 9.09718 1.01333 7.83624 1.06958C6.57999 1.12583 5.72218 1.32739 4.97218 1.61802C4.19406 1.91802 3.53781 2.32583 2.88156 2.98208C2.22531 3.63833 1.82218 4.29927 1.51749 5.07271C1.22687 5.82271 1.02531 6.68052 0.969055 7.94145C0.912805 9.1977 0.898743 9.60083 0.898743 12.8071C0.898743 16.0133 0.912805 16.4165 0.969055 17.6774C1.02531 18.9336 1.22687 19.7915 1.51749 20.5461C1.81749 21.3243 2.22531 21.9805 2.88156 22.6368C3.53781 23.293 4.19874 23.6961 4.97218 24.0008C5.72218 24.2915 6.57999 24.493 7.84093 24.5493C9.10187 24.6055 9.50031 24.6196 12.7112 24.6196C15.9222 24.6196 16.3206 24.6055 17.5816 24.5493C18.8378 24.493 19.6956 24.2915 20.4503 24.0008C21.2284 23.7008 21.8847 23.293 22.5409 22.6368C23.1972 21.9805 23.6003 21.3196 23.905 20.5461C24.1956 19.7961 24.3972 18.9383 24.4534 17.6774C24.5097 16.4165 24.5237 16.018 24.5237 12.8071C24.5237 9.59614 24.5097 9.19771 24.4534 7.93677C24.3972 6.68052 24.1956 5.82271 23.905 5.06802C23.605 4.28989 23.1972 3.63364 22.5409 2.97739C21.8847 2.32114 21.2237 1.91802 20.4503 1.61333C19.7003 1.32271 18.8425 1.12114 17.5816 1.06489C16.3159 1.01333 15.9128 0.999268 12.7066 0.999268Z' fill='%23331B3B'/%3E%3Cpath d='M12.7066 6.74146C9.35968 6.74146 6.64093 9.45552 6.64093 12.8071C6.64093 16.1586 9.35968 18.8727 12.7066 18.8727C16.0534 18.8727 18.7722 16.154 18.7722 12.8071C18.7722 9.4602 16.0534 6.74146 12.7066 6.74146ZM12.7066 16.7446C10.5316 16.7446 8.76906 14.9821 8.76906 12.8071C8.76906 10.6321 10.5316 8.86958 12.7066 8.86958C14.8816 8.86958 16.6441 10.6321 16.6441 12.8071C16.6441 14.9821 14.8816 16.7446 12.7066 16.7446Z' fill='%23331B3B'/%3E%3Cpath d='M19.0113 7.91804C19.7931 7.91804 20.4269 7.28425 20.4269 6.50242C20.4269 5.72059 19.7931 5.08679 19.0113 5.08679C18.2294 5.08679 17.5956 5.72059 17.5956 6.50242C17.5956 7.28425 18.2294 7.91804 19.0113 7.91804Z' fill='%23331B3B'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_40'%3E%3Crect width='24' height='24' fill='white' transform='translate(0.706543 0.807129)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }

    
}

.we-help-you {
    padding-top: 127px;
    background-color: $white;
    position: relative;
    
    .container {
        position: relative;
        align-items: center;
        flex-wrap: nowrap;
    }
    
    .left {
        padding-right: 90px;
        max-width: 500px;
    }
    
    .description {
        font-size: 17px;
        color: $secondary-color;
        margin-bottom: 30px;
    }

    .btn {
        display: inline-block;
        color: $white;
        text-transform: uppercase;
        font-size: 17px;
        background-color: $primary-color;
        padding: 22px 49px;
        border-radius: 10px;
        transition: background-color 0.2s;

        &:hover {
            background-color: $secondary-color;
        }
    }
    
    .img-photo {
        position: relative;
        z-index: 5;
        animation: rotateImg 0.8s ease-in-out;
        
    }

    .img-bg-1, .img-bg-2{
        position: absolute;
    } 
    
    .img-bg-1{
        right: 246px;
        top: -56px;
        z-index: 3;
        animation: rotateBg 1.2s ease-in-out;
    }

    .img-bg-2{
        top: -167px;
        right: 0;
        z-index: 1;
        animation: moveBg 2s ease-in-out;
    }

    @keyframes rotateImg {
        from {transform: rotate(20deg);}
        to {transform: none;}
      }
      @keyframes rotateBg {
        from {transform: rotate(-160deg);}
        to {transform: none;}
      }
      @keyframes moveBg {
        from {transform: translateX(200px);}
        to {transform: none;}
      }
}

.what-we-do {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
    background-color: $light-blue;
    padding: 92px 0;
    text-align: center;

    
}

.footer {
    background-color: $light-blue;
    color: $white;
    

    .bg-footer {
        background-color: $black;
        padding: 36px 152px 36px 0;
        border-top-right-radius: 152px;
    }

    .logo {
        display: inline-block;
        color: $white;
        font-size: 36px;
        margin-bottom: 15px;
    }

    p {
        font-size: 16px;
        margin-bottom: 15px;
    }

    form {
        display: flex;
        flex-wrap: wrap;
    }

    label {
        text-transform: uppercase;
        margin-bottom: 15px;
        flex-basis: 100%;
    }

    .input-email {
        font-size: 16px;
        height: 52px;
        border: 1px solid $white;
        background-color: $black;
        box-sizing: border-box;
        padding: 10px 13px;
        flex-grow: 1;
        color: $white;

        &:focus{
            background-color: $black;
            color: $white;
        }

        &::placeholder {
            @extend .font-light;
            text-transform: uppercase;
        }
    }

    .submit {
        font-size: 16px;
        text-transform: uppercase;
        height: 52px;
        line-height: 52px;
        background-color: $white;
        color: black;
        padding: 0 52px;
        border: none;
        cursor: pointer;
        transition: opacity 0.25s;

        &:hover {
            opacity: 0.7;
        }
    }

    .column-left {
        max-width: 440px;
    }

    .column-right {
        position: relative;
        margin-left: 20px;
        
    }

    .location {
        position: absolute;
        top: 26px;
        left: 32px;
        width: 197px;
        background-color: $white;
        color: $dark-gray;
        padding: 7px 10px;

        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .container {
        justify-content: space-between;
    }

    .error-message {
        color: $error;
    }
}

@media only screen and (max-width: 1300px) {   
    h1 {
        font-size: 58px;
    }

    .we-help-you {
        .img-photo {
            width: 500px;
        }

        .img-bg-1 {
            width: 300px;
            top: 20px;
        }

        .img-bg-2 {
            width: 450px;
        }
    }

    .footer{
        .container {
            flex-wrap: nowrap;
            align-items: end;
        }
        .map{
            max-width: 100%;
        }
    } 
}
  

  @media only screen and (max-width: 992px) {   
    h1 {
        font-size: 48px;
    }

    .we-help-you {

        .left {
            padding-right: 40px;
        }
        
        .img-photo {
            width: 350px;
        }

        .img-bg-1 {
           display: none;
        }
    }

     h2 {
        font-size: 38px;
    }

    .footer{
        .container {
            flex-wrap: wrap;
            
        }

        .column-right {
            margin: 20px 0 0 0;
        }
    } 
    
  }

  @media only screen and (max-width: 840px) {   
    .header {
        position: static;
        background-color: $white;

        .nav, .logo, .links-social {
            margin-bottom: 20px;
        }

        .nav a {
            margin-right: 24px;
        }

        .links-social {
            justify-content: start;
        }
        
    }
    
    .we-help-you {
        padding-top: 0;
        .right {
            display: none;
        }
    }
    .footer form {
        margin-bottom: 16px;
       }
    
  }

  @media only screen and (max-width: 576px) {  
    h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 32px;
    }
    .container{
        padding: 20px;
    } 
   .header .nav {
    flex-wrap: wrap;
    order: 2;
   }

   .footer .bg-footer {
    padding-right: 40px;
   }
    
  }




